*{
    margin: 0%;
    padding: 0%; <p class="dolci">DOLCI E DESSERT</p>
}
.title{
    font-size: 50px;
    color: orange;
}
main{
    background-color: #e8e9ea;
}
.dolci{
    color: grey;
    margin-top: 30px;
    padding-left: 515px;
}
.title2{
    text-align: center;
}
.container {
    display: flex;
}